<div class="container p-5">
  <div class="row mt-4 p-5">
    <div class="col-lg-12">
      <div class="text-center">
        <div class="display-2"><h2>About</h2></div>
        <p class="d-flex justify-content-center pt-5">
          <%= image_tag 'about.png', :size=>'200x200'  %>
        </p>
        <h5 style="width: 72%; margin-top: 25px; margin-left: 150px; text-align: center ">
          ながのCAKEは全国発送可能なケーキ屋さんです。</br>
          お子様からお年寄りの方までお召し上がりいただけるよう、</br>
          さまざまなバリエーションをご用意しております。</br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
          ぜひ、ご注文ください。
        </h5><br>
      </div>
    </div>
  </div>
</div>

