<div class="container px-5 px-sm-0">
  <div class="row p-5">
    
    <h2>商品一覧</h2>
    <span class>(全<%= @items_all.count %>件)</span>
  </div>
  
  <div class="row">
    <div>class="col-md-8 offset md-1 mx-auto d-flex flex-wrap">
      <%@ @items.each do |item| %>
        <div class="col">
          <% if item.selling ==true %>
            <% if item.image.attached? %>
              <link_to item_path(item.id) do %>
                <% image_tag item.image, size: "200×200" %>
              <% end %>
            <% end %>
            <p class=""><%= item.name %></p>
            <p><%= (item.price * 1.1).round.to_s(:delimited)  %>円</p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= paginate @items, class:"text-center" %>
  </div>
</div>
          